@model Warband

<div class="fg-header-light">
    <div class="row row-cols-1 row-cols-md-2">

        <h3 class="my-5 fg-header-light">
            @Model.WarbandName
        </h3>
        <h4 class="p-2 d-grid" style="max-width: 250px; max-height: 100px;">
            <a class="btn btn-secondary"
               asp-area="Frostgrave" asp-controller="Warband" asp-action="EditWarband" asp-route-warbandID="@Model.WarbandId">Edit Warband</a>
        </h4>
        <p class="row">@Model.WarbandDescription</p>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <h3 class="col p-2 fw-bold">Wizard: @Model.Wizard.Name</h3>
        <h3 class="col p-2">@(Model.Apprentice != null ? "Apprentice: " + Model.Apprentice.Name : "")</h3>
        <p class="row col p-2">Treasury: @Model.Treasury g</p>
    </div>
</div>